body {
    font-family: Arial, Helvetica, sans-serif;
}

.pics {
    position: relative;
    width: 0;
    margin: auto;
}

.pics div {
    position: absolute;
}

.pic-biohazard {
    right: 10px;
    top: 20px;
}

.pic-manAndWoman {
    left: 15px;
    top: -5px;
}

.pic-yinAndYang {
    top: 180px;
    left: -100px;
}

.pic-noSmoking {
    top: 50px;
    left: -128px;
}

.pic-biohazard:hover,
.pic-manAndWoman:hover,
.pic-yinAndYang:hover {
    z-index: 1;
}